<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
        bootstrap="tests/phpunit/bootstrap.php"
        colors="true">
  <coverage>
    <include>
      <directory suffix=".php">./module/*/src</directory>
    </include>
  </coverage>
  <php>
    <ini name="memory_limit" value="2048M"/>
  </php>
  <groups>
    <exclude>
      <group>IntegrationTest</group>
    </exclude>
  </groups>
  <testsuites>
    <testsuite name="test">
      <directory>module/Application/test</directory>
    </testsuite>
  </testsuites>
</phpunit>
